.bookingContainer {
    position: fixed;
    text-align: right;
}

.calendarBox {
    display: inline-block;
}

.textBoxManager {
    justify-content: space-evenly;
}


* {
    box-sizing: border-box;
}
